<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="fragments/head.html :: js"/>
    <th:block th:insert="fragments/navbar.html" ::navbar/>
    <link th:href="@{/styles/footerfix.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:if="${exception!=null}" th:remove="tag">
    <div class="alert alert-warning" role="alert">
        error:
        <p th:text="${exception}"></p>
    </div>
</div>

<div class="container">
    <form th:action="${'/airports/edit/'+{pageno}+'/?sortfield='+{sortfield}+'&sortasc='+{sortasc}}"
          th:object="${airportDTO}"
          method="post">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="country" th:field="*{country}">
                    <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}">country error</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city" th:field="*{city}">
                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city error</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="fullname">Airport fullname:</label>
                    <input type="text" class="form-control" id="fullname" th:field="*{fullName}">
                    <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullname error</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="iata">IATA:</label>
                    <input type="text"
                           class="form-control"
                           id="iata"
                           th:field="*{shortName}">
                    <p th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}">shortName error</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="lat">LAT:</label>
                    <input type="number" class="form-control" id="lat" th:field="*{slat}"
                           min=-80
                           max=80
                           step=0.00000001
                    >
                    <p th:if="${#fields.hasErrors('slat')}" th:errors="*{slat}">slat error</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="lon">LON:</label>
                    <input type="number" class="form-control" id="lon" th:field="*{slon}"
                           min=-60
                           max=180
                           step=0.00000001>
                    <p th:if="${#fields.hasErrors('slon')}" th:errors="*{slon}">slon error</p>
                </div>
            </div>
            <input type="hidden" class="form-control" id="id" th:field="*{id}">
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save">Save changes</i></button>
            </div>
        </div>

    </form>
</div>


<footer>
    <th:block th:insert="fragments/footer.html" ::footer/>

</footer>
</body>
</html>